.cartItemInner {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.removeButton {
    max-width: fit-content;
}

.cartImg {
    min-width: 100px;
}

.btnWrapper {
    display: flex;
    margin: 0.25rem;
    gap: 4px;

    .amount {
        flex: 2;
        align-self: flex-start;
    }
}